{%extends "layout.html" %} {%block body %}


    <div class="container my-5">
        <h1 class="my-5">Our Associates! </h1>
    </div>

    <div class="container">
        <h3>Structural Designer</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dr. Nitin Dindorkar</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mr. Afsar Chand</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mr.Jai Soni</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container my-5">
        <h3>Interior Associates</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">D.K. and Associates</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ashok Bhargava</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h3>Electrical</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mr.Dubey</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h3>Surveyor</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mr. Praveen Sapkal</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h3>MEP consultant</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Narendra Purandare</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h3>Fire Consultant</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mr. Ashok Dubey</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h3>Landscape Consultant</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mr. Sudhakar</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h3>Air Conditioning</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/client1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mr. Vivek Dickey</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{%endblock%}